<a href="https://colab.research.google.com/github/ecb23/danl-ml-hw1-BROWN-ERIC.ipynb/blob/main/danl_m1_hw2_BROWN_ERIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

nhl = pd.read_csv('https://bcdanl.github.io/data/NHL-1617.csv')
nhl

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
0,1,30.04.1988,Hamilton,CAN,CAN,69,170,Abbott,Spencer,LW,CHI,1,0,0,514,8.57
1,2,25.02.1987,Muskegon,USA,USA,74,218,Abdelkader,Justin,LW/RW,DET,64,7,14,63969,16.65
2,3,23.09.1993,Stockholm,SWE,SWE,71,196,Aberg,Pontus,LW,NSH,15,1,1,11102,12.33
3,4,01.12.1991,Johnston,USA,USA,70,208,Acciari,Noel,C,BOS,29,2,3,18047,10.23
4,5,30.04.1992,Morristown,USA,USA,72,202,Agostino,Kenny,LW,STL,7,1,2,5366,12.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,18.04.1993,Huddinge,SWE,SWE,74,215,Zibanejad,Mika,C/RW,NYR,56,14,23,57362,17.07
884,885,01.09.1987,Toronto,CAN,CAN,71,180,Zolnierczyk,Harry,LW,NSH,24,2,2,12776,8.87
885,886,01.09.1987,Oslo,NOR,NOR,67,179,Zuccarello,Mats,RW/C/LW,NYR,80,15,44,90378,18.83
886,887,16.01.1992,Newport Beach,USA,USA,71,187,Zucker,Jason,LW/RW,MIN,79,22,25,72455,15.28
887,888,15.05.1995,St. Petersburg,RUS,RUS,73,224,Zykov,Valentin,LW,CAR,2,1,0,750,6.25

In [2]:
import pandas as pd
nhl = pd.read_csv("https://bcdanl.github.io/data/NHL-1617.csv")

In [20]:
#Question 1: How many players had at least some ice time?

nhl = pd.read_csv('https://bcdanl.github.io/data/NHL-1617.csv')
nhl

nhl.count()

nhl['TOI']

#Answer=374 players
# 888(total)-514(0min icetime)= 374

nhl[['TOI']].count()
#^ still shows the '0' toi values...??

TOI    888
dtype: int64

In [11]:
nhl.dtypes

id_player       int64
Born           object
City           object
Cntry          object
Nat            object
Ht              int64
Wt              int64
Last_Name      object
First_Name     object
Position       object
Team           object
GP              int64
G               int64
A               int64
TOI             int64
TOI_GP        float64
dtype: object

In [13]:
#Question 2: Who is the top scorer?

nhl

nhl.sort_values(["G"])


#ANSWER- Most Goals= Sidney Crosby

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
0,1,30.04.1988,Hamilton,CAN,CAN,69,170,Abbott,Spencer,LW,CHI,1,0,0,514,8.57
523,524,10.12.1992,Plantation,USA,USA,78,225,Megna,Jaycob,D,ANA,1,0,0,920,15.33
520,521,22.02.1993,Langley,CAN,CAN,74,214,McNeill,Mark,C/RW,DAL,1,0,0,829,13.82
512,513,22.05.1994,Hamilton,CAN,CAN,74,203,McEneny,Evan,D,VAN,1,0,0,908,15.13
508,509,05.08.1995,Anaheim,USA,USA,75,217,McCoshen,Ian,D,FLA,3,0,1,2386,13.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,13.12.1991,Yaroslavl,RUS,RUS,72,219,Tarasenko,Vladimir,RW,STL,82,39,36,90872,18.47
485,486,11.05.1988,Halifax,CAN,CAN,69,181,Marchand,Brad,LW/C,BOS,80,39,46,93295,19.35
426,427,17.06.1993,Maykop,RUS,RUS,71,178,Kucherov,Nikita,RW,T.B,74,40,45,86320,19.43
499,500,17.09.1997,Scottsdale,USA,USA,75,216,Matthews,Auston,C,TOR,82,40,29,86745,17.53
149,150,07.08.1987,Cole Harbour,CAN,CAN,71,200,Crosby,Sidney,C,PIT,75,44,45,89450,19.88

In [24]:
#Question 3: How can we count the number of NHL players in each country?

#we use value counts command

nhl['Cntry'].value_counts()

CAN    415
USA    242
SWE     77
RUS     39
CZE     31
FIN     30
CHE     12
SVK     10
DNK      9
DEU      6
AUT      5
FRA      4
NOR      2
LVA      1
EST      1
SVN      1
GBR      1
HRV      1
ITA      1
Name: Cntry, dtype: int64

In [32]:
#Question 4: How many unique countries are in nhl.csv?

#. count shows us amount of unique values


nhl['Cntry'].value_counts()

#ANSWER = 19 COUNTRIES

CAN    415
USA    242
SWE     77
RUS     39
CZE     31
FIN     30
CHE     12
SVK     10
DNK      9
DEU      6
AUT      5
FRA      4
NOR      2
LVA      1
EST      1
SVN      1
GBR      1
HRV      1
ITA      1
Name: Cntry, dtype: int64

In [ ]:
#Question 5: WHich three nationalities have the highest number of players?


#answer= Canada, USA< and Sweden have most players